

  <h1>Welcome to Stephen Colbert's Awesome Website</h1>

  <p><%=link_to "See all guests", guests_path %></p>
  <p><%=link_to "See all episodes", episodes_path %></p>
  <p><%=link_to "Create an appearance", new_appearance_path %></p>
